<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangpeng.mapper.ExamMapper">

    <resultMap id="BaseResultMap" type="com.wangpeng.pojo.po.Exam">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="paperId" column="paper_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="duration" column="duration" jdbcType="INTEGER"/>
            <result property="limitTime" column="limit_time" jdbcType="TINYINT"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="notice" column="notice" jdbcType="VARCHAR"/>
            <result property="privilege" column="privilege" jdbcType="TINYINT"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,paper_id,name,
        duration,limit_time,start_time,
        end_time,notice,
        privilege,password,create_time,
        update_time
    </sql>
</mapper>
